certifi==2023.5.7
chardet==3.0.4
colorama==0.4.6
# googletrans==4.0.0rc1
# googletrans==3.1.0a0
# h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
# httpcore==0.9.1
httpx==0.23.0
hyperframe==5.2.0
idna==2.10
rfc3986==1.5.0
sniffio==1.3.0
tqdm==4.65.0
joblib==1.3.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
protobuf==3.20.0
evaluate==0.4.0
underthesea
seqeval
datasets 
sentencepiece
-e git+https://github.com/huggingface/transformers@d941f07a4e3bc7b61b7afbd25d6e2e8427fccc6d#egg=transformers
